<div  class="home">
<!-- <style media="screen">
  .image_div { background-image: url(<%# @object.image %>); }
</style> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6 header_two background">
       <h1>Adventures in Italy</h1>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
       <img id="image" src="img/rome_006.jpg" alt="">
      </div>
      <div class="col">
      </div>
    </div>
     <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <div class="content background">
          <div class="spacing">
             <h4>About Us</h4>
             <p>Travel like a local. This blog is to help make traveling around Italy easier and more fun!</p>
           </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
     <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <div class="content background">
          <div class="spacing">
            <h4>Your Experiance</h4>
            <p>With this blog you will find comments about the best way to travel when going to Italy. Login or create an account to post your do's and dont's when traveling to Italy.</p>
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>