<!-- <div class="posts"> -->

<!-- how your post layout should look -->
<%# @post.each do |post| %>
<%# render post %>
<%# end %>
<!-- </div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-6 header background">
      <h1>Adventures in Italy</h1>
    </div>
    <div class="col"></div>
  </div>
  <!-- end of row -->
  <div class="row">
    <div class="col-6 offset-sm-3 background_p">
      <div class="padding_b">
        <h4>Blog Posts</h4>
      </div>
      <div class="posts post_o padding">
        <% @post_all.each do |post| %>
          <%= render post %>
           
        <% end %>
      </div>
    </div>
  </div> <!-- .row -->
  <div class="row">
    <div class="col-6 offset-sm-3 background_p"></div>
  </div> <!-- end of row -->
</div> <!-- end of container