// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_posts {
	background-image: image-url('/assets/rome.jpg');
}

.update_posts {
	background-image: image-url('/assets/coluseum.jpg');
}

.blog {
	background-image: image-url('/assets/vatican_courtyard.jpg');
}

/**************blog.erb****************/
// #content {
// 	width: auto;
// 	height: 80px;
// }

.bottom {
border-bottom: solid;
border-color: rgba(239, 229, 211, 0.6);
padding-bottom: 3%;
	
}

.padding {
	padding-top: 4%;
}

.padding_b {
	padding-bottom: 3%;
}

.format {
	height: 60px;
	width: 60px;
	float: right;
}

.form-control {
	line-height: 2.0;
	width: 300px;
	display: inline-block;
}

.header {
	margin-top: 8%;
	text-align: center;
	// padding: 2%
}

.left {
	text-align: left;
}

.post_o {
	overflow: scroll;
	background-color: rgba(239, 229, 211, 0.6);
	height: 600px; 
	width: 100%;
	/*overflow-y: hidden;*/
	border: solid;
}

.spacing {
	margin-top: 3%
}

.font {
	font-weight: bold;
}

 // .small {
 // 	/*text-align: right;*/
 // 	font-size: 12px;
 // 	background-color: rgba(223, 211, 194, 0.6);
 // }

 // .border {
	// border-bottom: solid;
 // }

/*/**************edit post.erb****************/

.form-control {
	line-height: 2.0;
}

.edit_posts {
	overflow: scroll;
	background-color: rgba(239, 229, 211, 0.6);
	height: 300px; 
	/*width: 675px;*/
}